/* EVENT COUNT */

.event-count {
  text-align: right;
  font-size: 12px;
  padding: 0 5px 0 0;
}

/* LIST OF EVENTS */

.events-table {
  margin: 5px;
}

.events-table-row {
  border: 1px solid var(--color-events-row-border);
  background-color: var(--color-events-row-bg);
  margin: 0 0 15px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 100;
}

.events-table-row:focus,
.events-table-row:hover {
  border-color: var(--color-events-row-border-hover);
  box-shadow: 0 0 30px inset var(--color-events-row-hover-inset-shadow);
  outline: 0;
}

.events-table-row.sold-out {
  opacity: 0.5;
  filter: grayscale(1);
}

.events-table-row .event-merged-section {
  display: flex;
  padding: 8px 0 0;
}

.events-table-row .event-name-link {
  color: var(--color-events-event-name-link);
}

.events-table-row .event-name {
  font-size: 16px;
  font-weight: 500; /* mac's helvetica will render it just fine */
}

.events-table-row .event-merged-section > .event-merge-section-col:not(:first-of-type) {
  padding: 0 0 0 10px;
}

.genre-or-tag {
  display: inline-block;
  border-radius: 3px;
  padding: 0 8px;
  margin: 0 0 3px 0;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 9px;
}

.genre-or-tag.tag {
  background-color: var(--color-events-event-tag-bg);
}

/* DARK THEME OVERRIDE */

html.theme-dark .genre-or-tag.genre {
  filter: invert(1);
}
