/* LIST OF EVENTS */

.events-table {
  max-width: 1200px;
  margin: 5px;
}

.events-table-row {
  border: 1px solid #dfdfdf;
  margin: 0 0 6px;
  border-radius: 3px;
  padding: 8px 5px;
  cursor: pointer;
}

.events-table-row:hover {
  border-color: #0060df;
  box-shadow: 0 0 30px inset #0060df10;
}

.events-table-row .event-merged-section {
  display: flex;
  padding: 8px 0 0;
}

.events-table-row .event-name-link {
  color: #4d4d4d;
}

.events-table-row .event-merged-section > .event-merge-section-col:not(:first-of-type) {
  padding: 0 0 0 10px;
}

.genre-or-tag {
  display: inline-block;
  border-radius: 3px;
  padding: 0 8px;
  margin: 0 0 3px 0;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 9px;
}

.genre-or-tag.tag {
  background-color: #ddd;
}
