body {
  font-size: 16px;
  background-color: var(--color-body-bg);
}

body,
td,
input,
button {
  color: var(--color-text);
}

a,
a:hover,
a:active {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  text-decoration: none;
}

button {
  border: 1px solid var(--color-button-border);
  background-color: transparent;
  border-radius: 3px;
}

button:focus {
  outline: 0;
  border-color: var(--color-button-focused-border);
}

input[type='text'],
input[type='search'] {
  border-radius: 3px;
  border: 1px solid var(--color-text-input-border);
  padding: 3px 5px;
  background-color: var(--color-text-input-bg);
}

input[type='text']:focus,
input[type='search']:focus {
  outline: 0;
  border-color: var(--color-text-input-focused-border);
  text-decoration: none;
}

.hidden {
  display: none;
}

body.show-modal {
  overflow: hidden;
}

/* SCROLLBARS */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-fgcolor) var(--color-scrollbar-bg);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb-bg);
  border-radius: 10px;
  border: 2px solid var(--color-scrollbar-thumb-border);
}

/* MESSAGES */

.no-events-message {
  padding: 10px;
  text-align: center;
}

/* TOPMOST CONTROLS */

.top-controls {
  max-width: 1200px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.top-controls .search-input {
  border-radius: 3px;
  width: 300px;
}

.theme-switcher {
  display: flex;
}

.theme-switcher button {
  display: block;
  border-radius: 0;
}

.theme-switcher button svg {
  scale: 0.8;
}

.theme-switcher button.selected {
  box-shadow: 0 0 5px inset var(--color-button-selected-shadow);
}

.theme-switcher button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 0;
  display: block;
}

.theme-switcher button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0;
}
