body {
  font-size: 16px;
  background-color: var(--color-body-bg);
}

body,
td,
input,
button {
  color: var(--color-text);
}

a,
a:hover,
a:active {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  text-decoration: none;
}

button {
  border: 1px solid var(--color-button-border);
  background-color: transparent;
  border-radius: 3px;
}

button:focus {
  outline: 0;
  border-color: var(--color-button-focused-border);
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale();
}

input[type='text'],
input[type='search'] {
  border-radius: 3px;
  border: 1px solid var(--color-text-input-border);
  padding: 3px 5px;
  background-color: var(--color-text-input-bg);
}

input[type='text']:focus,
input[type='search']:focus {
  outline: 0;
  border-color: var(--color-text-input-focused-border);
  text-decoration: none;
}

.hidden {
  display: none;
}

body.show-modal {
  overflow: hidden;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* SCROLLBARS */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-fgcolor) var(--color-scrollbar-bg);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb-bg);
  border-radius: 10px;
  border: 2px solid var(--color-scrollbar-thumb-border);
}

/* MESSAGES */

.no-events-message {
  padding: 10px;
  text-align: center;
}
