/* EVENT DETAILS MODAL */

.modal {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal .modal-error-message {
  text-align: center;
  padding: 0 0 20px;
}

body.show-modal .modal {
  display: flex;
}

.modal .modal-cover-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-modal-cover);
}

.modal .modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal .modal-header .modal-close {
  background: none;
  border: 0;
  width: 24px;
  height: 24px;
  font-size: 15px;
  border-radius: 10px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: 0;
  color: var(--color-modal-close-icon);
  cursor: pointer;
}

.modal .modal-header .modal-close:hover {
  color: var(--color-modal-close-icon-hover);
}

/* CONTENT */

.modal .modal-content {
  z-index: 1;
  position: absolute;
  background-color: var(--color-modal-content-bg);
  width: 95vw;
  max-width: 800px;
  max-height: calc(100vh - 40px);
  margin: 0 auto;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 20px var(--color-modal-content-shadow);
  display: flex;
  flex-direction: column;
}

.modal .modal-content .modal-inner-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal .modal-content h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.modal .modal-content td {
  padding-bottom: 5px;
}

.modal .modal-content td.break-all {
  word-break: break-all;
}

.modal .modal-content td.label {
  color: var(--color-modal-label);
  vertical-align: top;
}

.modal .modal-content td.label > label {
  display: inline-block;
  padding-right: 10px;
}

.modal .modal-content tr:first-of-type td.label > label {
  margin-top: 3px;
}

.modal .modal-content .value-description-inner {
  overflow: hidden;
}
