/* TOPMOST CONTROLS */

.top-controls {
  margin: 5px 5px 20px 5px;
}

.top-controls-flex-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px;
}

.top-controls .search-input {
  border-radius: 3px;
  width: 500px;
  height: 40px;
  line-height: 40px;
}

@media screen and (max-width: 642px) {
  .top-controls .search-input {
    width: calc(100vw - 131px);
  }
}

@media screen and (max-width: 450px) {
  .top-controls .top-controls-flex-row {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 5px;
  }

  .top-controls .search-input {
    width: calc(100vw - 10px);
  }
}

/* TOP RIGHT BUTTONS (SHARE, THEME) */

.top-right-buttons {
  display: flex;
  gap: 5px;
}

.top-right-buttons button {
  display: block;
  height: 28px;
}

.top-right-buttons button svg {
  scale: 0.75;
}

/* SHARE URL */

.share-url {
  position: relative;
}

.share-dialog {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 0;
  width: 300px;
  border: 1px solid var(--color-share-dialog-border);
  border-radius: 3px;
  padding: 5px;
  background-color: var(--color-modal-content-bg);
  box-shadow: 2px 2px 20px var(--color-modal-content-shadow);
}

@media screen and (max-width: 440px) {
  .share-dialog {
    left: 0;
    margin-left: -185px;
  }
}

.share-dialog label {
  font-size: 12px;
  display: block;
  padding: 0 0 2px;
}

.share-dialog textarea {
  height: 100px;
  width: 100%;
  font-size: 14px;
  word-break: break-all;
  color: var(--color-text);
}

.share-dialog .action-buttons {
  margin: 5px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

/* THEME SWITCHER */

.theme-switcher {
  display: flex;
}

.theme-switcher button {
  border-radius: 0;
  width: 38px;
}

.theme-switcher button.selected {
  box-shadow: 0 0 5px inset var(--color-button-selected-shadow);
}

.theme-switcher button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 0;
  display: block;
}

.theme-switcher button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0;
}

/* TAG FILTER */
.top-controls .tag-filter span.genre {
  cursor: pointer;
  margin: 0 2px 2px;
  background-color: transparent;
  border: 1px solid var(--color-tag-filter-border);
  color: var(--color-tag-filter-text);
}

.top-controls .tag-filter span.genre:hover {
  border-color: var(--color-tag-filter-border-hover);
  color: var(--color-tag-filter-text-hover);
}

.top-controls .tag-filter span.genre.selected {
  border-color: var(--color-tag-filter-border-hover);
}

/* DATE FILTER */

.date-filter {
  display: flex;
  align-items: center;
}

.date-filter svg {
  scale: 0.6;
  position: relative;
  top: 1px;
}

.date-filter .date {
  display: block;
  line-height: 19px;
  height: 20px;
  margin: 0 5px 0;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.date-filter .date:hover {
  text-decoration: underline;
}
